html {
    height: 100%;
}

body {
    background: url('/media/hero-image.png') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Montserrat', sans-serif;
}

/* from Bulma */
/* Centered and consistent size for FontAwesome */

.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.top-nav-icon:hover {
    text-decoration: underline;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

.btn-black {
    background: #000;
    color: #fff;
}

.btn-black:hover {
    color: #E1AD01;
}

.jumbotron {
    background-color: rgba(225, 173, 1, 0.8);
    color: #000;
    height: 400px;
    width: 450px;
}

#main-nav a:hover {
    color: #E1AD01;
}

#main-nav a {
    color: #000;
}

#main-nav a.dropdown-item:hover {
    color: #E1AD01;
}

.discount-banner-bg {
    background-color: #E1AD01;
}

.main-nav-dropdown {
    margin-top: 8px;
    border-radius: 0;
    border: none;
}

.my-account-dropdown {
    margin-top: -1px;
    border-radius: 0;
    border: none;
}

.my-account-dropdown a {
    color: #000;
}

.my-account-dropdown a:hover {
    color: #E1AD01;
}

/* --------------------- Media Queries */

/* Container larger on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up  */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1000;
    }

    .main-navbar {
        background-color: #000;
        color: #fff;
    }

    #main-nav a {
        color: #fff;
    }

    #main-nav a.dropdown-item {
        color: #000;
    }

    .header-container {
        padding-top: 164px;
    }
}

@media (max-width: 992px) {
    .header-container {
        padding-top: 112px;
    }
}