<!DOCTYPE html>
<footer>
    <div class="container-fluid footer-container">
        <div class="row footer-row">
            <!-- Copyright section -->
            <div class="col-12 col-sm-4 footer-section">
                <div class="text-white">&copy; Greg Lewis 2021</div>
            </div>
            <!-- Social media icons -->
            <div class="col-12 col-sm-4">
                <ul class="list-inline social-links">
                    <li class="list-inline-item footer-icon">
                        <a target="_blank" href="https://www.facebook.com">
                        <i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                        </a>
                    </li>
                    <li class="list-inline-item footer-icon">
                        <a target="_blank" href="https://www.instagram.com">
                        <i class="fab fa-instagram-square fa-2x" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                        </a>
                    </li>
                    <li class="list-inline-item footer-icon">
                        <a target="_blank" href="https://www.twitter.com">
                        <i class="fab fa-twitter-square fa-2x" aria-hidden="true"></i>
                        <span class="sr-only">Twitter</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Contact Link -->
            <div class="col-12 col-sm-4 footer-section">
                <div class="contact-link"><a href="{% url 'contact' %}">Contact Us Here</a></div>
            </div>
        </div>
    </div>
</footer>