<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link white-text mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link white-text mr-5" href="#" id="cookware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookware
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="cookware-link">
                <a href="" class="dropdown-item">Pots &amp; Pans</a>
                <a href="" class="dropdown-item">Bakeware</a>
                <a href="" class="dropdown-item">Knives</a>
                <a href="" class="dropdown-item">Tools &amp; Gadgets</a>
                <a href="" class="dropdown-item">All Cookware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link white-text mr-5" href="#" id="tableware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tableware
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="tableware-link">
                <a href="" class="dropdown-item">Cutlery</a>
                <a href="" class="dropdown-item">Crockery</a>
                <a href="" class="dropdown-item">Glassware</a>
                <a href="" class="dropdown-item">Serving Pieces</a>
                <a href="" class="dropdown-item">All Tableware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link white-text mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="accessories-link">
                <a href="" class="dropdown-item">Chopping Boards</a>
                <a href="" class="dropdown-item">Utensils</a>
                <a href="" class="dropdown-item">Oven gloves, towels &amp; aprons</a>
                <a href="" class="dropdown-item">Measuring</a>
                <a href="" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link white-text" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">New Arrivals</a>
                <a href="" class="dropdown-item">Deals</a>
                <a href="" class="dropdown-item">Clearance</a>
                <a href="" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>