<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="cookware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Cookware
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="cookware-link">
                <a href="{% url 'products' %}?category=pots_pans" class="dropdown-item">Pots &amp; Pans</a>
                <a href="{% url 'products' %}?category=bakeware" class="dropdown-item">Bakeware</a>
                <a href="{% url 'products' %}?category=knives" class="dropdown-item">Knives</a>
                <a href="{% url 'products' %}?category=tools_gadgets" class="dropdown-item">Tools &amp; Gadgets</a>
                <a href="{% url 'products' %}?category=pots,pans,bakeware,knives,tools,gadgets" class="dropdown-item">All Cookware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="tableware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Tableware
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="tableware-link">
                <a href="{% url 'products' %}?category=cutlery" class="dropdown-item">Cutlery</a>
                <a href="{% url 'products' %}?category=crockery" class="dropdown-item">Crockery</a>
                <a href="{% url 'products' %}?category=glassware" class="dropdown-item">Glassware</a>
                <a href="{% url 'products' %}?category=serving_pieces" class="dropdown-item">Serving Pieces</a>
                <a href="{% url 'products' %}?category=cutlery,crockery,glassware,serving_pieces" class="dropdown-item">All Tableware</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link mr-5" href="#" id="accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="accessories-link">
                <a href="{% url 'products' %}?category=chopping_boards" class="dropdown-item">Chopping Boards</a>
                <a href="{% url 'products' %}?category=utensils" class="dropdown-item">Utensils</a>
                <a href="{% url 'products' %}?category=oven_gloves_towels_aprons" class="dropdown-item">Oven gloves, towels &amp; aprons</a>
                <a href="{% url 'products' %}?category=measuring" class="dropdown-item">Measuring</a>
                <a href="{% url 'products' %}?category=chopping_boards,utensils,oven_gloves_towels_aprons,measuring" class="dropdown-item">All Accessories</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Special Offers
            </a>
            <div class="dropdown-menu main-nav-dropdown" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=new_arrivals" class="dropdown-item">New Arrivals</a>
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
                <a href="{% url 'products' %}?category=new_arrivals,deals,clearance" class="dropdown-item">All Specials</a>
            </div>
        </li>
    </ul>
</div>